<%- include("header") -%>

  <div class="container"  id="blur" >
    <button id="updates">updates</button>

    <h1>Join the waitlist for the </h1>
    <h1 class="design gradient-text">Design System!</h1>
    
    <form action="" id="myForm">

    <i class="fa-regular fa-user-large"></i>
    <input type="text" name="name" class="field" id="name" placeholder="Full name..." >
    <br>
    <i class="fa-regular fa-envelope"></i>
    <input type="text" name="name" class="field" id="email" placeholder="Email address..." >
    <br>
    <button class="btn">Join the waitlist</button>

  </form>

    <h2> AlignUI is coming to Figma soon</h2>
   <h2> Designed by  @Spacefirm to give you back your time.</h2>
  </div>

<!-- The pop up -->

<div id="popup" class="alert">

<div class=" close">+</div>

  <div class="icon">
    <i class="check fa-solid fa-check"></i>
  </div>
  

  <h1 class="popup-text">We've added you to our waiting list!</h1>
  <h3 class="popup-text">We'll let you know when alignUI is ready.</h3>
 

</div>

    <%- include("footer") -%>