<%- include("header") -%>

  <div id="section">
    <button id="updates">updates</button>

    <h1>Join the waitlist for the </h1>
    <h1 class="design gradient-text">Design System!</h1>
    
    <i class="fa-regular fa-user-large"></i>
    <input type="text" name="name" class="field" id="name" placeholder="Full name...">
    <br>
    <i class="fa-regular fa-envelope"></i>
    <input type="text" name="name" class="field" id="email" placeholder="Email address...">
    <br>
    <button class="btn">Join the waitlist</button>
</div>


    <%- include("footer") -%>