<%- include("header") -%>

  <div id="section">
    <button id="updates">updates</button>

    <h1>Join the waitlist for the </h1>
    <h1 class="design">Design System</h1>
    
    <input type="text" name="name" class="field" id="name" placeholder="Full name...">
    <br>
    <input type="text" name="name" class="field" id="email" placeholder="Email address...">
    <br>
    <button class="btn">Continue</button>
</div>


    <%- include("footer") -%>