
body{
    background-color: rgb(11, 1, 19);
    color: #fff;
    margin: 10% 15%;
    padding-left: 10%;
}

#section{
    margin: 12% 10%;
}

.design{
    color: rgb(226, 43, 134);
}

.updates{
    float: right;
}

.btn, .field{
    border: 1px solid #fff;
    
}