
body{
    font-family: "Montserrat";
    background-color: rgb(11, 1, 19);
    color: #fff;
    margin: 10% 15%;
    padding-left: 10%;
}

.close{
    rotate: 45deg;
    float: right;
    position: relative;
    font-size: 50px;
    cursor: pointer;
  
}

#popup{
    border: 1px solid black;
    width: 380px;
    height: 400px;
    background-color: #1b1717;
    position: absolute;
    bottom: 15%;
    border-radius: 10px;
    transition: 0.5s;
    
}


h1, h3{
    margin-top: 5%;
}

.icon{
    background-color: green;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-left: 170px;
    margin-top: 30px;
}

.check{
    margin: 12px 12px;
}

#updates{
    margin-left: 100%;
    top: 20px;
}

.field{
    margin: 10px;
    background: transparent;
    color: #fff;
}

.container{
    margin: 12% 10%;
}

.container#blur.active{
    filter: blur(20px); 
    pointer-events: none;
    user-select: none;
    transition: 0.5s;
    cursor: pointer
    
    ;
 }

    .gradient-text {
        background: linear-gradient(to right, #ff006a, #0000ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      

.btn, .field{
    border: 1px solid #fff;
    
}