
body{
    background-color: rgb(11, 1, 19);
    color: #fff;
    margin: 10% 15%;
    padding-left: 10%;
}

#redirect{
    border: 1px solid black;
    width: 500px;
    height: 300px;
    background-color: #1b1717;
}

.icon{
    background-color: green;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  margin-left: 200px;
}

.check{
    margin: 12px 12px;
}

#updates{
    margin-left: 100%;
}

.field{
    margin: 10px;
    background: transparent;
    color: #fff;
}

#section{
    margin: 12% 10%;
}

    .gradient-text {
        background: linear-gradient(to right, #ff006a, #0000ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      

.updates{
    float: right;
}

.btn, .field{
    border: 1px solid #fff;
    
}